{extends file='cmn/layout/index.tpl'}

{block name="head"}
	<!-- Write meta tag and link tag here. -->
	<!-- <link rel="stylesheet" href="/cmn/css/style_name.css" type="text/css" media="screen"> -->
{/block}	

{block name="title"}運営団体：大田区立石川台中学校同窓会{/block}

<li>	</li>
<li></li>
<li></li>

<!-- Ajax search form -->
{block name="body"}
<div class="container">
	<div class="container" style="margin-top:150px;"></div>
	<div class="row">
		<div class="col-lg-12">
		<h1>運営団体：大田区立石川台中学校同窓会</h1>
		<section id="from-president">
			<h2>会長挨拶</h2>
			<p class="main-article">2015年6月、石川台中学校同窓会の役員が交代となり、新しい体制がスタートしました。どうぞよろしくお願いします。</p>
			<p class="main-article">昭和30年から始まる石川台中学校の歴史の中で、同窓生の総数は現在10,245人と伺っています。これからも増えていくことでしょう。その皆さんの、石中で過ごした日々、ここで育まれた友情やさまざまな力、そうしたものを大切にするために同窓会はあります。石川台中学校を中心にして、時間も空間も越えて見えてくる人とエピソードの輪が、同窓会です。</p>
			<p class="main-article">「懐かしい」とふり返るだけでは、もったいないものが同窓会にはあります。年齢や経験、仕事などが多岐にわたる同窓生が力と心を寄せれば、今の石中生のお役に立てるのではないか、とも思います。そうしたことを話し合うためにも、毎年6月に開かれる同窓会総会には多くの同窓生にお集まりいただきたいと願っています。石中でお目にかかりましょう。</p>
			<p class="main-article align-right">同窓会会長　　苅谷夏子　１７回生</p>
		</section>
		<section id="board-officers">
			<h2>【役員および監査紹介】</h2>
			<ul>
				<li>会　長　　苅谷　夏子（17回生）</li>
				<li>副会長　　前田　修宏（27回生）</li>
				<li>書　記　　伊藤　孝治（36回生）　・　新井　幸恵（28回生）</li>
				<li>会　計　　野村　奈央（39回生）　・　間部　栄子（37回生）</li>
				<li>監　査　　伊藤　正和（02回生）　・　手塚　一　（10回生）</li>
			</ul>
		</section>
		</div><!-- /col-lg-12 -->
	</div><!-- /row -->

</div><!-- /container -->
{/block}	

{block name="footer"}
	<!-- Write loading javascript tag here. -->
	<!-- <script src="" type="text/javascript" charset="utf-8"></script> -->
{/block}
