{extends file='cmn/layout/index.tpl'}

{block name="head"}
	<!-- Write meta tag and link tag here. -->
	<!-- <link rel="stylesheet" href="/cmn/css/style_name.css" type="text/css" media="screen"> -->
{/block}	

{block name="title"}運営団体：大田区立石川台中学校同窓会{/block}

<!-- Ajax search form -->
{block name="body"}
<div class="container">
	<div class="container" style="margin-top:150px;"></div>
	<div class="row">
		<div class="col-lg-12">
		<h1>プライバシーポリシー</h1>
		<section id="privacy-policy">

		<h2>はじめに</h2>

		<p class="main-article">大田区立石川台中学校同窓会（以下、「本運営主体」といいます）は、大田区立石川台中学校同窓会Webサイト「そうだ 石中へ行こう！」（以下、「本サービス」といいます）をご利用になる方（以下利用者といいます）のプライバシーを尊重し、利用者の個人情報（以下の定義に従います）の管理に細心の注意を払い、これを取り扱うものとします。</p>
		<p class="main-article">また、本サービスから送信される情報はすべて暗号化通信によって保護されたフォームを使用します。</p>

		<h2>個人情報保護の適用範囲</h2>

		<p class="main-article">本サービスにおいて本運営主体が取得し、管理する個人情報は、以下のとおりとします。</p>

		<ul>
			<li>お名前、郵便番号、住所、電話番号、生年月日など</li>
			<li>ID、パスワード、メールアドレス、通信履歴</li>
		</ul>

		<p class="main-article">なお、本サービスから広告やリンクして到達したウェブサイトを利用した結果、当該ウェブサイトに残された個人情報については、本運営主体で直接管理することができない為、本運営主体社における個人情報保護の適用範囲外といたします。</p>

		<h2>個人情報の利用目的</h2>

		<p class="main-article">本サービスを通じて取得した個人情報は、次の目的の為に利用させていただきます。</p>

		<ul>
			<li>本サービスを通した大田区立石川台中学校同窓会の運営</li>
			<li>本サービスの利便性を向上させるサービスおよびシステムの運営</li>
			<li>本運営主体の新サービス・キャンペーンなどの紹介</li>
			<li>メンテナンス、重要なお知らせなどのご案内</li>
			<li>本サービスのためのマーケティング活動</li>
			<li>その他、本サービスの運用に必要な場合</li>
		</ul>

		<h2>個人情報の取得方法</h2>

		<p class="main-article">本運営主体は、その利用目的を明確にした上、本サービスのサイト上に必要事項を告知し、利用者の同意を得た上で、適法かつ公正な手段により、個人情報を取得いたします。個人情報の収集に際しては、利用者の意思に反する不正な方法により入手致しません。</p>

		<h2>個人情報の開示・提供</h2>

		<p class="main-article">本運営主体は、以下の場合を除き、利用者の事前のご承認なく、個人情報を開示または提供致しません。</p>

		<ul>
			<li>集計および分析等により得られたものを、個人を識別または特定できない態様にて提携先等第三者に開示または提供する場合</li>
			<li>任意に利用者の同意を得た上で個人情報を開示または利用する場合</li>
			<li>裁判所の発する令状その他裁判所の決定、命令または法令に基づき開示する場合</li>
			<li>検察・警察・監督官庁からの適法・適式な手順により情報の照会があった場合</li>
			<li>プロバイダー責任法（正称：特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律）第4条に該当する請求があった場合</li>
			<li>「個人情報の利用目的」の範囲内において、外部の企業等の第三者に個人情報を預託する場合</li>
		</ul>

		<p class="main-article">なお、外部の企業等の第三者に個人情報を預託する場合、預託に必要な最小限の範囲に限り、個人情報を開示いたしますが、その開示に当たっては、情報の安全管理が図られるよう、当該事業者に対する必要かつ適切な管理を行います。また、個人情報を第三者に提供する際には、個人情報保護法に基づく利用者のご承認の獲得、またはこれに準ずる措置を採ることと致します。</p>

		<h2>個人情報の訂正、利用停止、削除の手続き</h2>

		<p class="main-article">本運営主体は、利用者ご本人より個人情報の開示、訂正、利用停止、削除のご依頼があった場合、ご本人様であることを確認させていただいた上で、お手続きをさせていただきます。</p>

		</section>
	</div><!-- /col-lg-12 -->
	</div><!-- /row -->

</div><!-- /container -->
{/block}	

{block name="footer"}
	<!-- Write loading javascript tag here. -->
	<!-- <script src="" type="text/javascript" charset="utf-8"></script> -->
{/block}
