{extends file='cmn/layout/index.tpl'}

{block name="head"}
	<!-- Write meta tag and link tag here. -->
	<!-- <link rel="stylesheet" href="/cmn/css/style_name.css" type="text/css" media="screen"> -->
{/block}	

{block name="title"}運営団体：大田区立石川台中学校同窓会{/block}

<!-- Ajax search form -->
{block name="body"}
<div class="container">
	<div class="container" style="margin-top:150px;"></div>
	<div class="row">
		<div class="col-lg-12">
		<h1>スタッフ、お手伝い募集</h1>
		<section id="recruit-form">
		<iframe src="https://docs.google.com/forms/d/1DvPGo2sw_W9fpvGCb5PZ5QX0YPjXPi2kYP9SIr6FKOM/viewform?embedded=true" width="100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
		</section>
	</div><!-- /col-lg-12 -->
	</div><!-- /row -->

</div><!-- /container -->
{/block}	

{block name="footer"}
	<!-- Write loading javascript tag here. -->
	<!-- <script src="" type="text/javascript" charset="utf-8"></script> -->
{/block}
