{extends file='cmn/layout/index.tpl'}

{block name="head"}
	<!-- Write meta tag and link tag here. -->
	<!-- <link rel="stylesheet" href="/cmn/css/style_name.css" type="text/css" media="screen"> -->
{/block}	

{block name="title"}フリーマーケットガイド | 大田区立石川台中学校同窓会{/block}

<!-- Ajax search form -->
{block name="body"}
<div class="container">
	<div class="container" style="margin-top:150px;"></div>
	<div class="row">
		<div class="col-lg-12">
		<h1>フリーマーケット参加者ガイド</h1>
		<section id="carMovingMap">
			<h2>フリーマーケットの出店はお済みですか？</h2>
			<p>未だの場合はこちらからお申し込み下さい⇒<a href="/#frema" style="text-decoration:underline;">参加要項と出店規約</a><p>
		</section>
		<section id="carMovingMap">
			<h2>搬入車両の駐車場所と入退出（晴天時）</h2>
			<ul>
				<li>駐車場所は晴天時のフリーマーケット出店者専用です。一般向け駐車場はありません。</li>
				<li>駐車場所は30台分で、全出店者分はありません。利用は当日先着順になります。</li>
				<li>一度駐車したら、原則としてフリーマーケット終了まで車両を出せません。</li>
				<li>搬入後、駐車せずに車両を帰したい場合は、係員の指示に従ってください。</li>
				<li>雨天の場合は、車両は校庭に入れないため、駐車場所はありません。</li>
				<li>フリーマーケットのブースの大きさは2m × 2mです。（雨天時は1.5m × 1.5m）</li>
				<li>複数ブースが必要な場合は、その旨備考欄に申し込んでください。</li>
			</ul>
			<img src="/ishichu/img/frema/carMovingMap.jpg"  id="carMovingMapImage" width="100%"/>
			<p>航空写真 (c) Google 2015</p>
		</section>
		<section id="boothNo" style="margin:15px 0;">
			<h1 style="margin:25px 0;border:solid 3px #f00;padding:20px;">ブース番号、発表！</h1>
		</section>
		<section id="toFremaUsers" style="margin:15px 0;">
			<h2>フリーマーケット出店者の皆様</h2>
            <p>この度は「そうだ 石中に行こう！」フリーマーケットへお申し込みいただき、有難うございます。</p>
            <p>以下の通りブース番号を発表致します。先にお送りしました受付完了報告書に記載された番号をご確認ください。</p>
            <p>完了番号＝ブース番号となります。</p>
		</section>
        <section style="margin:15px 0;margin:15px;border:solid 2px #ccc;padding:15px;">
			<h2 style="border-bottom:solid 5px #000;">晴天時</h2>
			<img src="/ishichu/img/frema/fremaMapFine.jpg"  id="fremaMapFineImage" width="100%"/>
		</section>
        <section style="margin:15px 0;margin:15px;border:solid 2px #ccc;padding:15px;">
			<h2 style="border-bottom:solid 5px #000;">雨天時</h2>
			<img src="/ishichu/img/frema/fremaMapRain.jpg"  id="fremaMapRainImage" width="100%"/>
        </section>
        <section>
            <p>ブース番号が既に分かっている方は、ご自分のブースへ商品を置いた後、受付を完了ください。ブース番号が不明な方は、受付へお越しいただき、受付が完了しましたらブースまでご案内致します。</p>
        </section>
        <section style="margin:15px 0;margin:15px;border:solid 2px #ccc;padding:15px;">
            <h2>【注意事項】</h2>
            <ul>
                <li>1.&nbsp;出店者の皆様は、当日8:30～9:30の間に搬入を完了してください。イベント開始後(10:00)の搬入は禁止致します。</li>
                <li>2.&nbsp;出店者の搬入は、<span style="color:#f00;">徒歩・自転車・自家用車に関わらず、東玉川小学校側(裏門)</span>よりお願い致します。尚、搬入時は係員の指示に従い、速やかに搬入をお願い致します。</li>
                <li>3.&nbsp;自家用車でお越しの方は、別途詳細図に記した搬入導線を順守ください。自転車の方は、特活室裏手の臨時駐輪場へ駐輪ください。</li>
                <li>4.&nbsp;雨天時は、校庭へ駐車はできません。石川公園側 生徒用通用口より搬入を行っていただきます。</li>
                <li>5.&nbsp;当日の状況により、ブースレイアウトが変更となる場合がございます。予めご了承いただきますよう、お願い申し上げます。</li>
                <li>6.&nbsp;本部、受付などにおいて、両替は対応できません。釣り銭などのご用意は各自でお願い申し上げます。</li>
            </ul>
        </section>
		</div><!-- /col-lg-12 -->
	</div><!-- /row -->

</div><!-- /container -->
{/block}	

{block name="footer"}
	<!-- Write loading javascript tag here. -->
	<!-- <script src="" type="text/javascript" charset="utf-8"></script> -->
{/block}
