{* /index.html *}
{extends file='cmn/layout/index.tpl'}

{block name="head"}
	<!-- Write meta tag and link tag here. -->
	<!-- <link rel="stylesheet" href="/cmn/css/style_name.css" type="text/css" media="screen" title="no title" charset="utf-8">
charset="utf-8"> -->
{/block}	

{block name="title"}そうだ 石中へ行こう！ | 大田区立石川台中学校同窓会{/block}

{block name="body"}
{include file='index/includes/sec1index.inc'}
{include file='index/includes/sec2about.inc'}
{include file='index/includes/interSec1.inc'}
{include file='index/includes/sec3frema.inc'}
{include file='index/includes/sec9map.inc'}
{/block}	

{block name="footer"}
	<!-- Write loading javascript tag here. -->
	<!-- <script src="/cmn/js/script_name.js" type="text/javascript" charset="utf-8"></script> -->
{/block}

		
